/* GLOBAL CSS FILE */
html, body, #root { 
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  /* Set your intended background color here */
  background-color: #f0f2f5; 
  /* This ensures the background covers the viewport even if content is short */
  background-attachment: fixed;
}